<mat-toolbar color="primary">My App</mat-toolbar>

<div fxLayout="column" fxLayoutAlign="${start|center|end|space-around|space-between} ${start|center|end|stretch}" fxLayoutGap="15px">
  <mat-tab-group [disableRipple]="false">
    <mat-tab >
      <ng-template mat-tab-label>
          <mat-icon>home</mat-icon> Home
      </ng-template>
      <div [style.padding.px]="15">
        <h2>Tabby</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae assumenda aperiam eos laborum minima voluptatibus
          ab ipsa commodi, ut expedita et, laboriosam, cumque pariatur autem? Inventore laudantium amet culpa itaque?</p>
      </div>
    </mat-tab>
    <mat-tab >
        <ng-template mat-tab-label>
            <mat-icon>settings</mat-icon> Settings
        </ng-template>
      <div [style.padding.px]="15">
        <h2>Tabby</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae assumenda aperiam eos laborum minima voluptatibus
          ab ipsa commodi, ut expedita et, laboriosam, cumque pariatur autem? Inventore laudantium amet culpa itaque?</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>